/*reset browser's default styling*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*to make box sizing as an inheritable property*/ }

html {
  font-size: 62.5%;
  /*1 rem=10px, 62.5%of root font size 16px=10px*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #252525;
  color: #EFEBE8;
  padding: 1rem 8rem 2rem 8rem; }

::selection {
  background-color: #EFEBE8;
  color: #252525; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #EFEBE8; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 15rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-med {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-2 {
  margin-bottom: 2rem !important; }

.u-margin-top {
  margin-top: 2rem !important; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 15vh;
  font-size: 1.5rem; }

.logo {
  display: flex;
  align-items: center;
  color: inherit;
  text-decoration: none; }

.nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none; }

.nav a {
  color: inherit;
  text-decoration: none;
  padding: 1rem; }

.nav > ul > li:last-child a {
  padding-right: 0; }

.section-landing-page {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem; }
  .section-landing-page__text-t1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0; }
  .section-landing-page__text-t2 {
    font-size: 2rem;
    max-width: 60vw;
    margin: 4rem 0 2rem 0; }
  .section-landing-page__text-t3 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0; }

.section-about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 2rem; }
  .section-about__text-t1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0; }
  .section-about__text-t2 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0; }

.section-contact {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .section-contact__text-t1 {
    font-size: 4rem;
    margin: 4rem 0 2rem 0; }
  .section-contact__text-t2 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0; }

.footer {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 10rem 0 8rem 0; }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }
