/*reset browser's default styling*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*to make box sizing as an inheritable property*/ }

html {
  font-size: 62.5%;
  /*1 rem=10px, 62.5%of root font size 16px=10px*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #252525;
  color: #EFEBE8;
  padding: 1rem 8rem 2rem 8rem;
  background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, 0.05) 25%, rgba(255, 255, 255, 0.05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, 0.05) 75%, rgba(255, 255, 255, 0.05) 76%, transparent 77%, transparent);
  height: 100%;
  overflow-x: hidden;
  background-size: 50px 50px; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 2rem; } }

::selection {
  background-color: #EFEBE8;
  color: #252525; }

a {
  color: #EFEBE8;
  text-decoration: none; }

a:hover {
  color: #f94444; }

.hide-me, .hide-left-side, .hide-right-side, .hide-left-side-1, .hide-right-side-1 {
  opacity: 0; }

.hide-me-1, .hide-me-2, .hide-me-3 {
  opacity: 0; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInDown {
  0% {
    opacity: 0;
    transform: translateY(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(-5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInLeftZoom {
  0% {
    opacity: 0;
    transform: translateX(5rem) translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRightZoom {
  0% {
    opacity: 0;
    transform: translateX(-5rem) translateY(5rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

body {
  font-family: "Roboto", sans-serif;
  /* font-size: 16px; */
  font-weight: 500;
  line-height: 1.7;
  color: #EFEBE8; }

h1 {
  font-family: "Archivo Black", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    h1 {
      font-size: 3rem !important; } }

h2 {
  font-weight: 400; }

h3 {
  font-weight: 300; }

.flower {
  z-index: 5000; }
  .flower__head {
    width: 90px;
    height: 30px;
    border-radius: 15px;
    background: white;
    margin-top: 50px; }
    .flower__head::after, .flower__head::before {
      content: '';
      position: absolute;
      background: white;
      border-radius: 20px;
      width: 90px;
      height: 30px;
      transform: rotate(60deg); }
    .flower__head::before {
      transform: rotate(-60deg); }
  .flower__nose {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 40px;
    height: 40px;
    z-index: 1;
    background: pink;
    border-radius: 50%; }
  .flower-2 {
    align-self: flex-end; }

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg); }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg); } }

.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 5s linear infinite; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }

.hamburger {
  display: none; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #EFEBE8; }

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }

.nav-item {
  margin-left: 5rem; }
  .nav-item-1 {
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .2s;
    animation-fill-mode: backwards; }
  .nav-item-2 {
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .3s;
    animation-fill-mode: backwards; }
  .nav-item-3 {
    animation-name: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .4s;
    animation-fill-mode: backwards; }

.nav-link {
  font-size: 1.5rem; }

.nav-logo {
  font-size: 1.5rem;
  animation-name: moveInDown;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  animation-delay: .2s;
  animation-fill-mode: backwards; }

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding: 4rem 0;
    flex-direction: column;
    background-color: #EFEBE8;
    width: 100%;
    height: 100vh;
    text-align: center;
    transition: 0.3s;
    color: #252525;
    z-index: 100; }
  .nav-menu.active {
    left: 0;
    top: 0;
    padding: 4rem 0; }
  .nav-item {
    margin: 2.5rem 0; }
  .nav-link {
    color: #252525;
    font-family: "Archivo Black";
    font-size: 5rem; }
  .hamburger {
    display: block;
    cursor: pointer;
    z-index: 150; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #252525; }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: #252525; }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: #252525; } }

.footer {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 10rem 0 6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-bottom: 4rem;
      margin-top: 6rem; } }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.section-landing-page {
  height: fit-content;
  margin-bottom: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: fit-content; }
  @media only screen and (max-width: 56.25em) {
    .section-landing-page {
      margin-bottom: 4rem; } }

.heading-main {
  display: flex;
  flex-direction: column;
  width: 80vw;
  align-items: center; }
  .heading-main-1 {
    font-size: 8rem;
    width: 80vw;
    align-self: flex-end;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 4rem; }
    @media only screen and (max-width: 768px) {
      .heading-main-1 {
        justify-content: flex-start;
        gap: 1rem; } }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
      .heading-main-1 {
        font-size: 4rem; } }
  .heading-main-2 {
    font-size: 8rem;
    width: 80vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 4rem; }
    @media only screen and (max-width: 768px) {
      .heading-main-2 {
        justify-content: flex-start;
        gap: 1rem; } }
    @media only screen and (min-width: 600px) and (max-width: 768px) {
      .heading-main-2 {
        font-size: 4rem; } }
  .heading-main__text-1 {
    animation: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .6s;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }
  .heading-main__text-2 {
    animation: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .7s;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }
  .heading-main__text-3 {
    animation: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .8s;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }
  .heading-main__text-4 {
    animation: moveInDown;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-delay: .9s;
    backface-visibility: hidden;
    animation-fill-mode: backwards; }

.section-work__heading {
  display: flex;
  gap: 1rem; }

.section-work__text-h1 {
  font-size: 4rem;
  margin: 0 0 6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-work__text-h1 {
      margin-bottom: 3rem; } }

.project {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .project {
      flex-direction: column; } }
  .project__img {
    background-color: #EFEBE8;
    height: 60vh;
    width: 581px; }
    @media only screen and (max-width: 56.25em) {
      .project__img {
        width: 100%; } }
  .project__desc {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
    border-bottom: 1px solid #EFEBE8;
    height: 60vh;
    width: 45%; }
    @media only screen and (max-width: 56.25em) {
      .project__desc {
        width: 100%;
        height: fit-content;
        padding-left: 0;
        margin-top: 2rem;
        margin-left: 0; } }
    @media only screen and (max-width: 56.25em) {
      .project__desc-p2 {
        padding-bottom: 0; } }
    .project__desc__text-h1 {
      font-size: 2rem;
      font-family: "Archivo Black", sans-serif;
      margin-bottom: 1.5rem; }
    .project__desc__text-t1 {
      font-size: 1.75rem;
      margin-bottom: 1rem; }
      @media only screen and (max-width: 56.25em) {
        .project__desc__text-t1 {
          font-size: 1.75rem; } }
  .project__link {
    width: 19rem;
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.75rem; }
    @media only screen and (max-width: 56.25em) {
      .project__link {
        font-size: 1.75rem; } }
  .project-p1 {
    margin-bottom: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .project-p1 {
        margin-bottom: 5rem; } }
  .project-p2 .project__img {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .project-p2 .project__img {
        order: 1; } }
  .project-p2 .project__desc {
    order: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;
    margin-left: 0; }
    @media only screen and (max-width: 56.25em) {
      .project-p2 .project__desc {
        order: 2;
        justify-content: center;
        align-items: flex-start;
        border-bottom: none;
        margin-right: 0; } }

.section-about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .section-about__heading {
    display: flex;
    gap: 1rem; }
  .section-about__text-t1 {
    font-size: 4rem;
    margin: 8rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-about__text-t1 {
        margin-top: 4rem; } }
  .section-about__text-t2 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-about__text-t2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.75rem; } }

.section-contact {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .section-contact__heading {
    display: flex;
    gap: 1rem; }
  .section-contact__text-t1 {
    font-size: 4rem;
    margin: 6rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-contact__text-t1 {
        margin-top: 4rem; } }
  .section-contact__text-t2 {
    font-size: 2rem;
    margin: 4rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-contact__text-t2 {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 1.75rem; } }
