/*reset browser's default styling*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /*to make box sizing as an inheritable property*/ }

html {
  font-size: 62.5%;
  /*1 rem=10px, 62.5%of root font size 16px=10px*/ }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  background-color: #252525;
  color: #CACACE;
  padding: 1rem 8rem 2rem 8rem; }
  @media only screen and (max-width: 56.25em) {
    body {
      padding: 4rem; } }
  @media only screen and (max-width: 37.5em) {
    body {
      padding: 2rem; } }

::selection {
  background-color: #CACACE;
  color: #252525; }

a {
  color: #CACACE;
  text-decoration: none; }

.hide-me {
  opacity: 0; }

@keyframes moveInUp {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0);
    /*so that it looks exactly how it is without animation*/ } }

body {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #CACACE; }

@media only screen and (max-width: 37.5em) {
  h1 {
    font-size: 3rem !important; } }

.pop-effect {
  text-shadow: 0.0075em 0.0075em 0 #af1b3f, 0.005em 0.005em 0 #af1b3f, 0.01em 0.01em 0 #af1b3f, 0.015em 0.015em #af1b3f, 0.02em 0.02em 0 #af1b3f, 0.025em 0.025em 0 #af1b3f, 0.03em 0.03em 0 #af1b3f, 0.035em 0.035em 0 #af1b3f; }

.popout {
  display: inline !important; }

@keyframes ani {
  0% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #AF1B3F;
    color: #CACACE; }
  30% {
    transform: translate3d(0, 0, 0);
    text-shadow: 0em 0em 0 #AF1B3F;
    color: #CACACE; }
  70% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #AF1B3F;
    color: #CACACE; }
  100% {
    transform: translate3d(0.08em, -0.08em, 0);
    text-shadow: -0.08em 0.08em #AF1B3F;
    color: #CACACE; } }
  .popout span {
    position: relative;
    display: inline-block;
    animation: ani 1s infinite alternate cubic-bezier(0.86, 0, 0.07, 1); }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-big {
      margin-bottom: 5rem !important; } }

.u-margin-bottom-huge {
  margin-bottom: 15rem !important; }

.u-margin-bottom-med {
  margin-bottom: 4rem !important; }
  @media only screen and (max-width: 56.25em) {
    .u-margin-bottom-med {
      margin-bottom: 3rem !important; } }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-2 {
  margin-bottom: 2rem !important; }

.u-margin-top {
  margin-top: 2rem !important; }

button {
  border: none;
  padding: 1.2rem 1.5rem;
  font: inherit;
  font-size: 1.5rem;
  background-color: #252525;
  color: #CACACE;
  border: 1px solid #CACACE; }

button:hover {
  background-color: rgba(202, 202, 206, 0.2);
  color: #CACACE; }

.btn-1 {
  animation-name: moveInUp;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  backface-visibility: hidden;
  animation-delay: 2s;
  animation-fill-mode: backwards; }
  @media only screen and (max-width: 37.5em) {
    .btn-1 {
      margin-bottom: 0; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0; }

.hamburger {
  display: none; }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background-color: #CACACE; }

.nav-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none; }

.nav-item {
  margin-left: 5rem; }

.nav-link {
  font-size: 1.5rem; }

.nav-logo {
  font-size: 1.5rem; }

@media only screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    left: -100%;
    top: 0;
    padding: 4rem 0;
    flex-direction: column;
    background-color: #CACACE;
    width: 100%;
    text-align: center;
    transition: 0.3s;
    color: #252525; }
  .nav-menu.active {
    left: 0;
    top: 0;
    padding: 4rem 0; }
  .nav-item {
    margin: 2.5rem 0; }
  .nav-link {
    color: #252525; }
  .hamburger {
    display: block;
    cursor: pointer; }
  .hamburger.active .bar:nth-child(2) {
    opacity: 0;
    background-color: #252525; }
  .hamburger.active .bar:nth-child(1) {
    -webkit-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: #252525; }
  .hamburger.active .bar:nth-child(3) {
    -webkit-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: #252525; } }

.footer {
  height: fit-content;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
  margin: 10rem 0 8rem 0; }
  @media only screen and (max-width: 56.25em) {
    .footer {
      margin-bottom: 4rem;
      margin-top: 6rem; } }
  .footer__social {
    display: flex;
    flex-direction: column;
    align-items: flex-end; }

.section-landing-page {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start; }
  .section-landing-page__text-h1 {
    font-size: 4rem;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    /*
        animation-delay: 3s;  wait 3s, then start animation
        */ }
    @media only screen and (max-width: 37.5em) {
      .section-landing-page__text-h1 {
        font-size: 3rem; } }
  .section-landing-page__text-h2 {
    font-size: 4rem;
    margin-bottom: 1rem;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .8s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .section-landing-page__text-h2 {
        font-size: 3rem; } }
  .section-landing-page__text-t2 {
    font-size: 1.75rem;
    max-width: 52vw;
    margin-bottom: 3rem;
    animation-name: moveInUp;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: 1.5s;
    animation-fill-mode: backwards; }
    @media only screen and (max-width: 37.5em) {
      .section-landing-page__text-t2 {
        max-width: fit-content; } }
  .section-landing-page__text-t3 {
    font-size: 1.75rem; }

.section-work__text-h1 {
  font-size: 4rem;
  margin: 0 0 6rem 0; }
  @media only screen and (max-width: 56.25em) {
    .section-work__text-h1 {
      margin-bottom: 3rem; } }

.project {
  display: flex; }
  @media only screen and (max-width: 56.25em) {
    .project {
      flex-direction: column; } }
  .project__img {
    background-color: #CACACE;
    height: 60vh;
    width: 581px; }
    @media only screen and (max-width: 56.25em) {
      .project__img {
        width: 100%; } }
  .project__desc {
    margin-left: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 3rem;
    border-bottom: 1px solid #CACACE;
    height: 60vh;
    width: 45%; }
    @media only screen and (max-width: 56.25em) {
      .project__desc {
        width: 100%;
        height: fit-content;
        padding-left: 0;
        margin-top: 2rem;
        margin-left: 0; } }
    @media only screen and (max-width: 56.25em) {
      .project__desc-p2 {
        padding-bottom: 0; } }
    .project__desc__text-h1 {
      font-size: 1.75rem;
      margin-bottom: 1.5rem; }
    .project__desc__text-h2 {
      font-size: 1.5rem;
      font-weight: 500;
      margin-bottom: .75rem; }
    .project__desc__text-t1 {
      font-size: 1.5rem;
      margin-bottom: 1rem; }
  .project__link {
    font-size: 1.5rem; }
    .project__link-l1 {
      margin-right: 1rem; }
  .project-p1 {
    margin-bottom: 10rem; }
    @media only screen and (max-width: 56.25em) {
      .project-p1 {
        margin-bottom: 5rem; } }
  .project-p2 .project__img {
    order: 2; }
    @media only screen and (max-width: 56.25em) {
      .project-p2 .project__img {
        order: 1; } }
  .project-p2 .project__desc {
    order: 1;
    justify-content: flex-end;
    align-items: flex-end;
    margin-right: 3rem;
    margin-left: 0; }
    @media only screen and (max-width: 56.25em) {
      .project-p2 .project__desc {
        order: 2;
        justify-content: center;
        align-items: flex-start;
        border-bottom: none;
        margin-right: 0; } }

.section-about {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .section-about__text-t1 {
    font-size: 4rem;
    margin: 8rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-about__text-t1 {
        margin-top: 4rem; } }
  .section-about__text-t2 {
    font-size: 1.75rem;
    margin: 4rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-about__text-t2 {
        margin-top: 0;
        margin-bottom: 0; } }

.section-contact {
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .section-contact__text-t1 {
    font-size: 4rem;
    margin: 6rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-contact__text-t1 {
        margin-top: 4rem; } }
  .section-contact__text-t2 {
    font-size: 1.75rem;
    margin: 4rem 0 2rem 0; }
    @media only screen and (max-width: 56.25em) {
      .section-contact__text-t2 {
        margin-top: 0;
        margin-bottom: 0; } }
