.section-about{
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    &__heading{
        display: flex;
        gap: 3rem;
        @include respond(tab-port){
            gap:1rem
        }
    }
    &__text{
        &-t1{
            font-size: 3rem;
            margin: 8rem 0 2rem 0;
            @include respond(tab-port){
                font-size: 4rem;
                margin-top: 4rem;
                -webkit-text-fill-color: $color-secondary;  
                -webkit-text-stroke: 0px;
            }
        }
        &-t2{
            font-size: 1.65rem;
            margin: 4rem 0 2rem 0;
            display: flex;
            flex-direction: column;
            @include respond(tab-port){
                margin-top: 0;
                margin-bottom: 0;
                font-size: 1.75rem;
            }
        }
    }
}
.background{
    width: 52rem;
    margin-bottom: 4rem;
    @include respond(tab-land){
    width: 100%;
    }
}
.process{
    width: 52rem;
    margin-bottom: 4rem;
    @include respond(tab-land){
        width: 100%;
        }
}
.tools{
    width: 52rem;
    @include respond(tab-land){
        width: 100%;
        }
}