.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15vh;
    font-size:1.5rem;
}
.logo{
    display: flex;
    align-items:center;
    color:inherit;
    text-decoration: none;

}
.nav ul{
    display: flex;
    margin:0;
    padding: 0;
    list-style: none;
  
}
.nav a{
    color:inherit;
    text-decoration: none;
    padding:1rem;

}
.nav > ul > li:last-child a{
    padding-right: 0;
}


