.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color:$color-secondary;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.nav-item {
    margin-left: 5rem;
    &-1{
        animation-name: moveInDown;
    animation-duration:1s; 
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .2s;  
    animation-fill-mode: backwards;
    }
    &-2{
        animation-name: moveInDown;
    animation-duration:1s; 
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .3s;  
    animation-fill-mode: backwards;
    }
    &-3{
        animation-name: moveInDown;
    animation-duration:1s; 
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .4s;  
    animation-fill-mode: backwards;
    }
}

.nav-link{
    font-size: 1.5rem;
}


.nav-logo {
    font-size: 1.5rem;
    animation-name: moveInDown;
    animation-duration:1s; 
    animation-timing-function: ease-out;
    backface-visibility: hidden;
    animation-delay: .2s;  
    animation-fill-mode: backwards;
}

@media only screen and (max-width: 768px) {
    .nav-menu {
        position: fixed;
        left: -100%;
        top: 0;
        padding: 4rem 0;
        flex-direction: column;
        background-color:$color-secondary;
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: 0.3s;
        color:$color-primary;
        z-index: 100;
    }

    .nav-menu.active {
        left: 0;
        top:0;
        padding: 4rem 0;
    }

    .nav-item {
        margin: 2.5rem 0;
    }
    .nav-link{
        color:$color-primary;
        font-size: 5rem;
        font-family: 'Lora';
    }

    .hamburger {
        display: block;
        cursor: pointer;
        z-index: 150;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
        background-color: $color-primary;
    }

    .hamburger.active .bar:nth-child(1) {
        -webkit-transform: translateY(8px) rotate(45deg);
        transform: translateY(8px) rotate(45deg);
        background-color: $color-primary;
    }

    .hamburger.active .bar:nth-child(3) {
        -webkit-transform: translateY(-8px) rotate(-45deg);
        transform: translateY(-8px) rotate(-45deg);
        background-color: $color-primary;
    }
}