.section-landing-page{
    display: flex;
    flex-direction: column;
    height: 90vh;
    @include respond(tab-land){
        margin-bottom:4rem;
        height: fit-content;
    }  
}

.heading{
    &-main{
        &-1,&-2{
            display: flex;
            gap:3rem;
            font-size: 8rem;
            font-family: "Archivo Black";
            @supports (-webkit-text-stroke: 1px black) {               
                -webkit-text-stroke: 1px $color-secondary;
                -webkit-text-fill-color: transparent;               
            }   
            @include respond(tab-port){
                font-size: 4rem;
                gap:1rem;
                -webkit-text-fill-color: $color-secondary;  
                -webkit-text-stroke: 0px;
            }       
        }
        &-1{
            justify-content: flex-end;
            @include respond(tab-land){
                justify-content: flex-start;
            }   
        }
        &__text{
            &-p1,&-p2,&-p3,&-p4{
                animation: moveInDown;
                animation-duration:1s; 
                animation-timing-function: ease-out;
                animation-delay: .6s;
                backface-visibility: hidden;
                animation-fill-mode: backwards;
            }
            &-p2{
                animation-delay: .7s;
            }
            &-p3{
                animation-delay: .8s;
            }
            &-p4{
                animation-delay: .9s;
            }

        }
    }    
}

