button{
    border: none;
    padding: 1.2rem 1.5rem;
    font:inherit;
    font-size: 2rem;
    background-color: $color-primary;
    color:$color-secondary;
    border: 1px solid $color-secondary;
}
button:hover{
    background-color: rgba($color-secondary, .2);
    color:$color-secondary;
}

.btn{
    &-1{
        animation-name: moveInUp;
        animation-duration:1s; 
        animation-timing-function: ease-out;
        backface-visibility: hidden;
        animation-delay: .8s;  
        animation-fill-mode: backwards;
        @include respond(phone){
            margin-bottom: 0;
        }
    }

}