/*reset browser's default styling*/
*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: inherit; /*to make box sizing as an inheritable property*/
}

html{
    font-size: 62.5%; /*1 rem=10px, 62.5%of root font size 16px=10px*/   
    @include respond(tab-land){
        font-size: 56.25%; //1rem  to be  9px , 9/16=56.25%
    }
    @include respond(tab-port){
        font-size: 50%; //1rem  to be  8px, 8/16=50%
    }
    @include respond(big-desktop){
        font-size: 75%; //1rem  to be  12px , 12/16=75%
    }  
}

body{
    box-sizing: border-box;
    background-color: $color-primary;
    color:$color-secondary;
    padding: 1rem 8rem 2rem 8rem;
    background-image: linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .05) 25%, rgba(255, 255, 255, .05) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .05) 75%, rgba(255, 255, 255, .05) 76%, transparent 77%, transparent);
    height:100%;
    overflow-x: hidden;
    background-size:50px 50px;
    @include respond(tab-port){
        padding:4rem;
    }
    @include respond(phone){
        padding:2rem;
    }
}

::selection{
    background-color: $color-secondary;
    color:$color-primary;
}

a{
    color:$color-secondary;
    text-decoration: none;
}
a:hover{
    color:#f94444;
}
.hide-me,.hide-left-side,.hide-right-side, .hide-left-side-1, .hide-right-side-1{
    opacity: 0;
}
.hide-me-1,.hide-me-2,.hide-me-3{
    opacity: 0;
}