@font-face {
  font-family: "Blatant";
  src: url("../css/fonts/Blatant.otf") format("opentype");
}
body {
  font-family: "Blatant", serif;
  letter-spacing: 0.1rem;
  /* font-size: 16px; */
  line-height: 1.7;
  color: $color-primary;
}
h1 {
  @include respond(phone) {
    font-size: 3rem !important;
  }
}
